doctype html
// Basic
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
// Mobile Metas
meta(name='viewport' content='width=device-width, initial-scale=1')
// Site Metas
title SmartBAC - Platformă Educațională
meta(name='keywords' content='')
meta(name='description' content='')
meta(name='author' content='')
// Site Icons
link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
link(rel='apple-touch-icon' href='images/apple-touch-icon.png')
// Bootstrap CSS
link(rel='stylesheet' href='css/bootstrap.min.css')
// Site CSS
link(rel='stylesheet' href='style.css')
// ALL VERSION CSS
link(rel='stylesheet' href='css/versions.css')
// Responsive CSS
link(rel='stylesheet' href='css/responsive.css')
// Custom CSS
link(rel='stylesheet' href='css/custom.css')
// Modernizer for Portfolio
script(src='js/modernizer.js')
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
// Modal
#login.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-header.tit-up
        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        h4.modal-title Login
      .modal-body.customer-box
        // Nav tabs
        ul.nav.nav-tabs
          li
            a.active(href='#Login' data-toggle='tab') Login
          li
            a(href='#Registration' data-toggle='tab') Înregistrare
        // Tab panes
        .tab-content
          #Login.tab-pane.active
            form.form-horizontal(role='form')
              .form-group
                .col-sm-12
                  input#email1.form-control(placeholder='Name' type='text')
              .form-group
                .col-sm-12
                  input#exampleInputPassword1.form-control(placeholder='Password' type='password')
              .row
                .col-sm-10
                  button.btn.btn-light.btn-radius.btn-brd.grd1(type='submit')
                    | Autentificare
                  a.for-pwd(href='javascript:;') Ai uitat parola?
          #Registration.tab-pane
            form.form-horizontal(role='form')
              .form-group
                .col-sm-12
                  input.form-control(placeholder='Nume de utilizator' type='text')
              .form-group
                .col-sm-12
                  input#email.form-control(placeholder='Email' type='email')
              .form-group
                .col-sm-12
                  input#mobile.form-control(placeholder='Telefon' type='text')
              .form-group
                .col-sm-12
                  input#password.form-control(placeholder='Parola' type='password')
              .row
                .col-sm-10
                  button.btn.btn-light.btn-radius.btn-brd.grd1(type='button')
                    | Salvează &amp; Continuă
                  button.btn.btn-light.btn-radius.btn-brd.grd1(type='button')
                    | Anulează
// LOADER
#preloader
  .loader-container
    .progress-br.float.shadow
      .progress__item
// END LOADER
// Start header
header.top-navbar
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href='/')
        img(src='images/logo.png' alt='')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbars-host' aria-controls='navbars-rs-food' aria-expanded='false' aria-label='Toggle navigation')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      #navbars-host.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/') Acasă
          li.nav-item
            a.nav-link(href='/about') Despre Noi
          li.nav-item.dropdown
            a#dropdown-a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Materii 
            .dropdown-menu(aria-labelledby='dropdown-a')
              a.dropdown-item(href='/course-grid-4') Romană 
              a.dropdown-item(href='/course-grid-4') Matematică 
              a.dropdown-item(href='/course-grid-4') Informatică 
          li.nav-item.dropdown
            a#dropdown-a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Forum 
            .dropdown-menu(aria-labelledby='dropdown-a')
              a.dropdown-item(href='/blog') Forum 
              a.dropdown-item(href='/blog-single') Exemplu Întrebare 
          li.nav-item
            a.nav-link(href='/teachers') Colaboratori
          li.nav-item
            a.nav-link(href='/contact') Contact
        ul.nav.navbar-nav.navbar-right
          li
            a.hover-btn-new.log(href='#' data-toggle='modal' data-target='#login')
              span Log In
block content
footer.footer
  .container
    .row
      .col-lg-4.col-md-4.col-xs-12
        .widget.clearfix
          .widget-title
            h3 About US
          p
            | Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.
          .footer-right
            ul.footer-links-soi
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-github
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-dribbble
              li
                a(href='#')
                  i.fa.fa-pinterest
            // end links
        // end clearfix
      // end col
      .col-lg-4.col-md-4.col-xs-12
        .widget.clearfix
          .widget-title
            h3 Information Link
          ul.footer-links
            li
              a(href='#') Home
            li
              a(href='#') Blog
            li
              a(href='#') Pricing
            li
              a(href='#') About
            li
              a(href='#') Contact
          // end links
        // end clearfix
      // end col
      .col-lg-4.col-md-4.col-xs-12
        .widget.clearfix
          .widget-title
            h3 Contact Details
          ul.footer-links
            li
              a(href='mailto:#') info@yoursite.com
            li
              a(href='#') www.yoursite.com
            li PO Box 16122 Collins Street West Victoria 8007 Australia
            li +61 3 8376 6284
          // end links
        // end clearfix
      // end col
    // end row
  // end container
// end footer
.copyrights
  .container
    .footer-distributed
      .footer-center
        p.footer-company-name
          | All Rights Reserved. &copy; 2019 
          a(href='#') We &#9829 4ț
          |  Design By : 
          a(href='') We &#9829 4ț
  // end container
// end copyrights
a#scroll-to-top.dmtop.global-radius(href='#')
  i.fa.fa-angle-up
// ALL JS FILES
script(src='js/all.js')
script(src='js/timeline.min.js')
script.
  timeline(document.querySelectorAll('.timeline'), {
  forceVerticalMode: 700,
  mode: 'horizontal',
  verticalStartPosition: 'left',
  visibleItems: 4
  });
// ALL PLUGINS
script(src='js/custom.js')
