extends layout

block content
  .all-title-box
    .container.text-center
      h1
        | Pricing
        span.m_1 Lorem Ipsum dolroin gravida nibh vel velit.
  #pricing-box.section.wb
    .container
      .row
        .col-md-4.col-sm-6
          .pricingTable
            .pricingTable-header
              span.heading
                h3 Standard
              span.price-value
                | $15
                span.month month
                span Lorem ipsum 
                span Lorem ipsum dolor sit amet
            .pricingContent
              i.fa.fa-adjust
              ul
                li 50GB Disk Space
                li 50 Email Accounts
                li 50GB Monthly Bandwidth
                li 10 subdomains
                li 50 Domains
            // /  CONTENT BOX
            .pricingTable-sign-up
              a.hover-btn-new.orange(href='#')
                span sign up
            // BUTTON BOX
        .col-md-4.col-sm-6
          .pricingTable.pink
            .pricingTable-header
              span.heading
                h3 Business
              span.price-value
                | $30
                span.month month
                span Lorem ipsum
                span Lorem ipsum dolor sit amet
            .pricingContent
              i.fa.fa-briefcase
              ul
                li 70GB Disk Space
                li 70 Email Accounts
                li 70GB Monthly Bandwidth
                li 30 subdomains
                li 70 Domains
            // /  CONTENT BOX
            .pricingTable-sign-up
              a.hover-btn-new.orange(href='#')
                span sign up
            // BUTTON BOX
        .col-md-4.col-sm-6
          .pricingTable.orange
            .pricingTable-header
              span.heading
                h3 Premium
              span.price-value
                | $45
                span.month month
                span Lorem ipsum
                span Lorem ipsum dolor sit amet
            .pricingContent
              i.fa.fa-cube
              ul
                li 80GB Disk Space
                li 80 Email Accounts
                li 80GB Monthly Bandwidth
                li 40 subdomains
                li 80 Domains
            // /  CONTENT BOX
            .pricingTable-sign-up
              a.hover-btn-new.orange(href='#')
                span sign up
            // BUTTON BOX
  // end section
  #testimonials.parallax.section.db.parallax-off(style="background-image:url('images/parallax_04.jpg');")
    .container
      .section-title.text-center
        h3 Testimonials
        p
          | Lorem ipsum dolor sit aet, consectetur adipisicing lit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      // end title
      .row
        .col-md-12.col-sm-12
          .testi-carousel.owl-carousel.owl-theme
            .testimonial.clearfix
              .testi-meta
                img.img-fluid(src='images/testi_01.png' alt='')
                h4 James Fernando 
              .desc
                h3
                  i.fa.fa-quote-left
                  |  Wonderful Support!
                p.lead
                  | They have got my project on time with the competition with a sed highly skilled, and experienced &amp; professional team.
              // end testi-meta
            // end testimonial
            .testimonial.clearfix
              .testi-meta
                img.img-fluid(src='images/testi_02.png' alt='')
                h4 Jacques Philips 
              .desc
                h3
                  i.fa.fa-quote-left
                  |  Awesome Services!
                p.lead
                  | Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.
              // end testi-meta
            // end testimonial
            .testimonial.clearfix
              .testi-meta
                img.img-fluid(src='images/testi_03.png' alt='')
                h4 Venanda Mercy 
              .desc
                h3
                  i.fa.fa-quote-left
                  |  Great &amp; Talented Team!
                p.lead
                  | The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure.
              // end testi-meta
            // end testimonial
            .testimonial.clearfix
              .testi-meta
                img.img-fluid(src='images/testi_01.png' alt='')
                h4 James Fernando 
              .desc
                h3
                  i.fa.fa-quote-left
                  |  Wonderful Support!
                p.lead
                  | They have got my project on time with the competition with a sed highly skilled, and experienced &amp; professional team.
              // end testi-meta
            // end testimonial
            .testimonial.clearfix
              .testi-meta
                img.img-fluid(src='images/testi_02.png' alt='')
                h4 Jacques Philips 
              .desc
                h3
                  i.fa.fa-quote-left
                  |  Awesome Services!
                p.lead
                  | Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.
              // end testi-meta
            // end testimonial
            .testimonial.clearfix
              .testi-meta
                img.img-fluid(src='images/testi_03.png' alt='')
                h4 Venanda Mercy 
              .desc
                h3
                  i.fa.fa-quote-left
                  |  Great &amp; Talented Team!
                p.lead
                  | The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure.
              // end testi-meta
            // end testimonial
          // end carousel
        // end col
      // end row
    // end container
  // end section
