extends layout
  
block content
  .all-title-box
    .container.text-center
      h1
        | Teachers
        span.m_1 Lorem Ipsum dolroin gravida nibh vel velit.
  #teachers.section.wb
    .container
      .row
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-01.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Williamson
              span.post Web Developer
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-02.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Kristiana
              span.post Web Designer
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-03.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Steve Thomas
              span.post Web Developer
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-04.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Miranda joy
              span.post Web Developer
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-01.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Williamson
              span.post Web Developer
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-02.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Kristiana
              span.post Web Designer
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-03.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Steve Thomas
              span.post Web Developer
        .col-lg-3.col-md-6.col-12
          .our-team
            .team-img
              img(src='images/team-04.png')
              .social
                ul
                  li
                    a.fa.fa-facebook(href='#')
                  li
                    a.fa.fa-twitter(href='#')
                  li
                    a.fa.fa-linkedin(href='#')
                  li
                    a.fa.fa-skype(href='#')
            .team-content
              h3.title Miranda joy
              span.post Web Developer
      // end row
    // end container
  // end section
  